html {
    margin: 0;
    padding: 0;
    background: white center top no-repeat;
}

body {
    background: #fff;
    width: 940px;
    margin: 50px auto;
    font-family: 'Times New Roman', Georgia, arial, serif;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #08AA22;
}

a:hover {
    color: #089900;
}

h1 a:link, h1 a:visited {
    color: #ff2200;
}

#content {
    min-height: 700px;
}

#main {
    width: 540px;
    min-height: 800px;
    margin-top: -10px;
    float: left;
}

#image {
    position: relative;
    float: right;
}

#footer {
    position: relative;
    font-size: 11px;
    color: #999999;
    width: 940px;
    margin-top: -100px;
}

#footer p {

    width: 100%;
}

header h1 {

    font-family: 'Times New Roman', Georgia, arial, serif;
    font-size: 60px;
    font-weight: normal;
    padding-top: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    margin: 0px;
}

.logo {
    margin-top: -80px;
    margin-left: 100px;
}

#main p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 20px;
}

#menu {
    padding: 10px 0px;
    text-align: left;
    font-size: 28px;
}

#menu h2 {
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1px;
    line-height: 20px;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    display: inline;
    padding-right: 30px;
    line-height: 20px;
}

.contact {
    text-align: center;
}

.shadow {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
}

#menu-sections {
    position: relative;
    margin-top: -30px;
    border-bottom: 1px solid #ccc;
    min-height: 45px;
    
}

#menu-sections li {
    float: left;
    display: block;
    border-bottom: 0;
    border: 0.06em solid #ccc;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
     background-color: #eee;
}
#menu-sections li a {

    padding: 4px 5px 4px 5px;
    font-size: 28px;
    color: #333333;
   
}

#menu-sections li.selected {
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid white;
}

#menu-sections li.first {
    border-top-left-radius: 5px;
}

#menu-sections li.last {
    border-top-right-radius: 5px;
}
.clear {
    clear: both;
}
